<script src="../../templates/functions-skills-list/blade.js"></script>

<div id="content">
	<div class="container">
		<div>
			<div style="display:grid;grid-template-columns: 1fr 1fr;">
				<div>
					<p class="card-title">
						<img src="skill/blade/hammerslam.png" width="34" height="34">
						Hammer Slam
					</p>
					<p class="medium">
						Skill Hammer Slam Level 1 </p>
				</div>
				<div style="justify-self:end;">
					<img src="images/icon/ths.png"><br>2-Handed Sword only
				</div>
			</div>
			<hr class="separator">
			<div class="monster-prop">
				<div>
					<p class="accent-bold">Type</p>
					<p>Active, Physical skill</p>
				</div>
				<div>
					<p class="accent-bold">Element</p>
					<p>Weapon Dependent</p>
				</div>
				<div>
					<p class="accent-bold">MP</p>
					<p>100</p>
				</div>
				<!-- $result_string .= sprintf("<td><b>Aggro</b></td>	<td>%s</td>", $row['aggro_text']); -->
				<div>
					<p class="accent-bold">Combo start</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Combo middle</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Range</p>
					<p>3</p>
				</div>
				<div class="span-2">
					<p class="accent-bold">Description</p>
					<p>Performs a narrow-range attack around the targets as if you are slamming them down. Guarantees a
						critical hit on targets immobilized by Flinch or other status ailments. MP Cost becomes 0 if
						used consecutively.</p>
				</div>
			</div>
			<p class="accent-bold">Extras</p>
			<p></p>
			<details>
				<summary>Show more...</summary><br><span class="sub-title"><b>Skill Level:</b></span>
				<select id="hammerSlamLevel" onchange="calcHammerSlamValues()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10" selected="">10</option>
				</select><br>
				<span class="sub-title"> <b>Base STR:</b></span>
				<input type="number" value="255" min="1" max="510" id="hammerSlamStrValue"
					onchange="calcHammerSlamValues()" style="width: 50px;"><br>
				<span class="sub-title"> <b>Total VIT:</b></span>
				<input type="number" value="1" id="hammerSlamVitValue" onchange="calcHammerSlamValues()"
					style="width: 50px;"><br>
				<span class="sub-title"><b>Target is afflicted with [Flinch]/[Tumble]/[Stun]:</b></span>
				<input type="checkbox" id="hammerSlamFTS" onchange="calcHammerSlamValues()"><br>
				<br>
				<span id="hammerSlamValues">
					<li><b>Skill Constant:</b> 100</li>
					<li><b>Skill Multiplier:</b> 2.02</li><br>
					<li><b>Hit Range (radius):</b> 2.5m, around the <b>main target's position on cast</b></li>
					<li>Gains the following effects upon using this skill consecutively (the last skill used is also
						this skill):<ul>
							<li>&nbsp;&nbsp;&nbsp;- This skill's MP Cost becomes 0</li>
							<li>&nbsp;&nbsp;&nbsp;- This skill's proration is changed to <b>Normal Attack Proration</b>
							</li>
							<li>&nbsp;&nbsp;&nbsp;- This skill becomes <b>unaffected by any Proration modifiers</b></li>
						</ul>
					</li>
					<li><b>Effect Duration:</b> Until another skill is used</li><br><b>Extra info:</b>
					<li>This skill's <b>maximum cast range</b> is equal to the maximum auto attack range of the <b>main
							weapon</b></li>
					<li>This skill can only be used as Combo Start if its MP Cost is not 0</li>
					<li>This skill uses <b>Physical Proration</b> for its damage calculation and inflicts <b>Physical
							Proration</b>; these change to <b>not uses any Proration modifiers at all</b> and inflicts
						<b>Normal Attack Proration</b>, respectively, when used consecutively
					</li>
				</span>
			</details>
			<p></p>
		</div>

		<div>
			<div style="display:grid;grid-template-columns: 1fr 1fr;">
				<div>
					<p class="card-title">
						<img src="skill/blade/cleavingattack.png" width="34" height="34">
						Cleaving Attack
					</p>
					<p class="medium">
						Skill Cleaving Attack Level 2 </p>
				</div>
				<div style="justify-self:end;">
					<img src="images/icon/ths.png"><br>2-Handed Sword only
				</div>
			</div>
			<hr class="separator">
			<div class="monster-prop">
				<div>
					<p class="accent-bold">Type</p>
					<p>Active, Physical skill</p>
				</div>
				<div>
					<p class="accent-bold">Element</p>
					<p>Weapon Dependent</p>
				</div>
				<div>
					<p class="accent-bold">MP</p>
					<p>300</p>
				</div>
				<!-- $result_string .= sprintf("<td><b>Aggro</b></td>	<td>%s</td>", $row['aggro_text']); -->
				<div>
					<p class="accent-bold">Combo start</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Combo middle</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Range</p>
					<p>3</p>
				</div>
				<div class="span-2">
					<p class="accent-bold">Description</p>
					<p>Swings the sword horizontally to deal with multiple opponents. If 2 or more targets are involved,
						the power will increase proportionally and consumed MP will be restored.</p>
				</div>
			</div>
			<p class="accent-bold">Extras</p>
			<p></p>
			<details>
				<summary>Show more...</summary><br><span class="sub-title"><b>Skill Level:</b></span>
				<select id="cleavingAttackLevel" onchange="calcCleavingAttackValues()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10" selected="">10</option>
				</select><br>
				<span class="sub-title"> <b>Total STR:</b></span>
				<input type="number" value="255" id="cleavingAttackStrValue" onchange="calcCleavingAttackValues()"
					style="width: 50px;"><br>
				<span class="sub-title"> <b>Total VIT:</b></span>
				<input type="number" value="1" id="cleavingAttackVitValue" onchange="calcCleavingAttackValues()"
					style="width: 50px;"><br>
				<span class="sub-title"><b>Number of enemies within Hit Range:</b></span>
				<input type="number" id="cleavingAttackEnemyCount" min="0" max="10" value="1" style="width: 3em;"
					onchange="calcCleavingAttackValues()"><br>
				<br>
				<span id="cleavingAttackValues">
					<li><b>Skill Constant:</b> 301</li>
					<li><b>Skill Multiplier:</b> 2.5</li><br>
					<li><b>Hit Range (radius):</b> same as the maximum auto attack range of the <b>main weapon</b>,
						around the <b>caster</b></li><br><b>Extra info</b>
					<li>This skill's <b>maximum cast range</b> is equal to the maximum auto attack range of the <b>main
							weapon</b></li>
				</span>

			</details>
			<p></p>
		</div>

		<div>
			<div style="display:grid;grid-template-columns: 1fr 1fr;">
				<div>
					<p class="card-title">
						<img src="skill/blade/stormblaze.png" width="34" height="34">
						Storm Blaze
					</p>
					<p class="medium">
						Skill Storm Blaze Level 3 </p>
				</div>
				<div style="justify-self:end;">
					<img src="images/icon/ths.png"><br>2-Handed Sword only
				</div>
			</div>
			<hr class="separator">
			<div class="monster-prop">
				<div>
					<p class="accent-bold">Type</p>
					<p>Active, Physical skill</p>
				</div>
				<div>
					<p class="accent-bold">Element</p>
					<p>Weapon Dependent</p>
				</div>
				<div>
					<p class="accent-bold">MP</p>
					<p>200</p>
				</div>
				<!-- $result_string .= sprintf("<td><b>Aggro</b></td>	<td>%s</td>", $row['aggro_text']); -->
				<div>
					<p class="accent-bold">Combo start</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Combo middle</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Range</p>
					<p>16</p>
				</div>
				<div class="span-2">
					<p class="accent-bold">Description</p>
					<p>Attacks enemies in a straight line with an aerial slash. Wind Power will accumulate when a normal
						attack hits. Wind Power is consumed upon skill activation. Power, attack range, and MP recovery
						increases according to the amount consumed.</p>
				</div>
			</div>
			<p class="accent-bold">Extras</p>
			<p></p>
			<details>
				<summary>Show more...</summary><br><span class="sub-title"><b>Skill Level:</b></span>
				<select id="stormBlazeLevel" onchange="calcStormBlazeValues()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10" selected="">10</option>
				</select><br>
				<span class="sub-title"> <b>Total VIT:</b></span>
				<input type="number" value="1" id="stormBlazeVitValue" style="width: 50px;"
					onchange="calcStormBlazeValues()"><br>
				<span class="sub-title"> <b>Base DEX:</b></span>
				<input type="number" value="255" min="1" max="510" id="stormBlazeDexValue" style="width: 50px;"
					onchange="calcStormBlazeValues()"><br>
				<span class="sub-title"><b>Number of stacks:</b></span>
				<input type="number" id="stormBlazeEnemyCount" min="0" max="20" value="0" style="width: 3em;"
					onchange="calcStormBlazeValues()"><br>
				<br>
				<span id="stormBlazeValues">
					<li><b>Skill Constant: </b> 201</li>
					<li><b>Skill Multiplier:</b> 0</li><br><b>Buff Effect:</b>
					<li>Gains stacks upon performing the following actions; can stack up to a maximum of <b>20
							stacks</b>
						<ul>
							<li>&nbsp;&nbsp;&nbsp;- Gains 1 stack for each <b>auto attack</b> or <b>consecutive mode
									Hammer Slam</b></li>
							<li>&nbsp;&nbsp;&nbsp;- Gains 2 stacks for each <b>auto attack during Rampage buff</b></li>
						</ul>
					</li>
					<li>Upon casting this skill, <b>nothing happens</b>, and the caster will look confused</li>
					<li><b>Buff Duration:</b> Until all stacks are used up</li><br><b>Extra info</b>
					<li>This skill's <b>maximum cast range</b> is equal to the maximum auto attack range of the <b>main
							weapon</b></li>
				</span>

			</details>
			<p></p>
		</div>

		<div>
			<div style="display:grid;grid-template-columns: 1fr 1fr;">
				<div>
					<p class="card-title">
						<img src="skill/blade/gardeblade.png" width="34" height="34">
						Garde Blade
					</p>
					<p class="medium">
						Skill Garde Blade Level 4 </p>
				</div>
				<div style="justify-self:end;">
					<img src="images/icon/ths.png"><br>2-Handed Sword only
				</div>
			</div>
			<hr class="separator">
			<div class="monster-prop">
				<div>
					<p class="accent-bold">Type</p>
					<p>Active</p>
				</div>
				<div>
					<p class="accent-bold">Element</p>
					<p>Neutral</p>
				</div>
				<div>
					<p class="accent-bold">MP</p>
					<p>300</p>
				</div>
				<!-- $result_string .= sprintf("<td><b>Aggro</b></td>	<td>%s</td>", $row['aggro_text']); -->
				<div>
					<p class="accent-bold">Combo start</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Combo middle</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Range</p>
					<p>0</p>
				</div>
				<div class="span-2">
					<p class="accent-bold">Description</p>
					<p>A defense technique using a two-handed sword. Boosts Physical/Magic Resistance and improves Guard
						ability for 70 seconds. Recovers Guard Power a bit when the buff is applied. <b
							style="color:#E77577">Overwriting won't trigger this recovery.</b></p>
				</div>
				<div class="span-2">
					<div class="accent-bold"
						style="display:grid;grid-template-columns: 35px auto;grid-column-gap: 10px">
						<p><img src="images/icon/ths.png"></p>
						<p>2-Handed Sword</p>
					</div>
					<p>While the effect is active, the weapon's refinement value will work as the shield's refinement
						value.<br>
						VIT affects Guard Power Recovery and it won't recover beyond 100%.<br>
						Nullifies ailments causing immobility when Guard is timed perfectly.<br>
						<b style="color:#E77577">The buff ends immediately when Guard Power is used up and it can't be
							used again for some time.</b>
					</p>
				</div>
			</div>
			<p class="accent-bold">Extras</p>
			<p></p>
			<details>
				<summary>Show more...</summary><br><span class="sub-title"><b>Skill Level:</b></span>
				<select id="gardeBladeLevel" onchange="calcGardeBladeValues()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10" selected="">10</option>
				</select><br>
				<span class="sub-title"> <b>Total VIT:</b></span>
				<input type="number" value="1" id="gardeBladeVitValue" onchange="calcGardeBladeValues()"
					style="width: 50px;"><br>
				<br>
				<span id="gardeBladeValues"><b>Skill Effect:</b> Recovers your <b>Guard gauge</b> by 25.01 units and
					grants <b>Garde Blade buff</b> to the <b>caster</b> upon successful cast; can only recover the
					<b>Guard gauge</b> until 100 units, and the recovery only applies if <b>Garde Blade buff</b> is not
					active<br><br>
					<b>Buff Effect:</b><br>
					<li>Allows <b>Main Weapon's Refinement Level</b> to grant damage reduction the same as that of a
						<b>Shield</b> while the buff is active
					</li>
					<li><b>Physical &amp; Magic Resistance</b> +10%</li>
					<li>Upon <b>Perfect Guard</b>, negate any [Flinch], [Tumble], [Stun] or [Knockback] that comes with
						the blocked hit</li>
					<li><b>Buff Duration:</b> 70 seconds OR until you get [Guard Break]</li><br><b>Extra info:</b>
					<li><b>Perfect Guard</b> (or <b>"perfectly timed" Manual Guard</b>) refers to the short duration at
						the start of Manual Guard motion, during when Guard gauge consumption upon taking any hit is
						halved</li>
					<li>This skill <b>cannot be cast</b> if you have [Guard Break]</li>
				</span>

			</details>
			<p></p>
		</div>

		<div>
			<div style="display:grid;grid-template-columns: 1fr 1fr;">
				<div>
					<p class="card-title">
						<img src="skill/blade/ogreslash.png" width="34" height="34">
						Ogre Slash
					</p>
					<p class="medium">
						Skill Ogre Slash Level 5 </p>
				</div>
				<div style="justify-self:end;">
					<img src="images/icon/ths.png"><br>2-Handed Sword only
				</div>
			</div>
			<hr class="separator">
			<div class="monster-prop">
				<div>
					<p class="accent-bold">Type</p>
					<p>Active, Physical skill</p>
				</div>
				<div>
					<p class="accent-bold">Element</p>
					<p>Weapon Dependent</p>
				</div>
				<div>
					<p class="accent-bold">MP</p>
					<p>500</p>
				</div>
				<!-- $result_string .= sprintf("<td><b>Aggro</b></td>	<td>%s</td>", $row['aggro_text']); -->
				<div>
					<p class="accent-bold">Combo start</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Combo middle</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Range</p>
					<p>3</p>
				</div>
				<div class="span-2">
					<p class="accent-bold">Description</p>
					<p>Deals damage to the target and after a short while, causes an explosion at the target's feet,
						dealing additional damage. If the conditions are met, Ogre Power will be accumulated and
						consumed upon skill activation to increase the power and buff.</p>
				</div>
				<div class="span-2">
					<div class="accent-bold"
						style="display:grid;grid-template-columns: 35px auto;grid-column-gap: 10px">
						<p><img src="images/icon/ths.png"></p>
						<p>2-Handed Sword</p>
					</div>
					<p>Starting a battle, stepping on the warning area, taking damage, or perfectly timing Guard will
						restore Ogre Power (<b style="color:gold">max 20</b>).<br>
						<br>
						Rampage's performance is boosted while the buff is active.<br>
						Mitigates the drawbacks of Berserk while the buff is active.<br>
						Slightly restores HP based on the MP consumed while the buff is active.
					</p>
				</div>
			</div>
			<p class="accent-bold">Extras</p>
			<p></p>
			<details>
				<summary>Show more...</summary><br><span class="sub-title"><b>Skill Level:</b></span>
				<select id="ogreSlashLevel" onchange="calcOgreSlashValues()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10" selected="">10</option>
				</select><br>
				<span class="sub-title"> <b>Base STR:</b></span>
				<input type="number" value="255" min="1" max="510" id="ogreSlashStrValue" style="width: 50px;"
					onchange="calcOgreSlashValues()"><br>
				<span class="sub-title"> <b>Base VIT:</b></span>
				<input type="number" value="1" min="1" max="510" id="ogreSlashVitValue" style="width: 50px;"
					onchange="calcOgreSlashValues()"><br>
				<span class="sub-title"> <b>Total DEX:</b></span>
				<input type="number" value="247" id="ogreSlashDexValue" style="width: 50px;"
					onchange="calcOgreSlashValues()"><br>
				<span class="sub-title"><b>Number of stacks:</b></span>
				<input type="number" id="ogreSlashEnemyCount" min="0" max="20" value="0" style="width: 3em;"
					onchange="calcOgreSlashValues()"><br>
				<span class="sub-title"><b>Caster's Physical Pierce (%):</b> </span>
				<input type="number" value="0" min="0" max="100" id="ogreSlashPhysicalPierce"
					onchange="calcOgreSlashValues()" style="width: 50px;"><br>
				<br>
				<span id="ogreSlashValues">
					<li><b>Skill Constant (First Hit):</b> 247</li>
					<li><b>Skill Constant (Second Hit):</b> 500</li>
					<li><b>Skill Multiplier (First Hit):</b> 2.56</li>
					<li><b>Skill Multiplier (Second Hit):</b> 0</li>
					<li><b>Hit Count:</b> up to 2 hits on the main target; 1 hit on all other targets; damage
						calculation is done for each hit</li><br>
					<li><b>Second Hit Range (radius):</b> 2m, around the <b>main target's position on cast</b></li>
					<li>Negate all [Flinch], [Tumble], [Stun] or [Knockback] you would have taken during this skill's
						animation</li><br><b>Passive Buff Effect:</b>
					<li>Gains stacks upon performing the following actions; can stack up to a maximum of <b>20
							stacks</b>
						<ul>
							<li>&nbsp;&nbsp;&nbsp;- Gains 5 stacks stack upon <b>being the one to initiate combat</b>
							</li>
							<li>&nbsp;&nbsp;&nbsp;- Gains 1 stack upon <b>receiving an AOE attack warning</b></li>
							<li>&nbsp;&nbsp;&nbsp;- Gains 1 stack upon <b>taking attack damage</b></li>
							<li>&nbsp;&nbsp;&nbsp;- Gains 1 stack upon <b>Perfect Guard</b></li>
						</ul>
					</li>
					<li>Upon casting this skill, grants <b>Ogre Slash active buff</b> to the <b>caster</b></li>
					<li><b>Stack Duration:</b> Until all stacks are used up</li><br><b>Active Buff Effect:</b>
					<li>Damage of <b>Rampage Auto Attacks</b> and <b>Rampage Finish Blow</b> are <b>doubled</b></li>
					<li><b>DEF, MDEF and Stability Penalties</b> of <b>Berserk</b> are <b>halved</b></li>
					<li>Upon consuming MP, <b>the caster recovers HP</b> by an amount equals to [(MP Bars consumed)^2 ×
						100]
					</li>
					<li><b>Buff Duration:</b> 23 seconds</li><br><b>Extra info</b>
					<li>This skill's <b>maximum cast range</b> is equal to the maximum auto attack range of the <b>main
							weapon</b></li>
					<li>If this skill is used to initiate combat, existing stack(s) will be comsumed first before the
						stack gaining effect is applied</li>
				</span>

			</details>
			<p></p>
		</div>

		<div>
			<div style="display:grid;grid-template-columns: 1fr 1fr;">
				<div>
					<p class="card-title">
						<img src="skill/blade/hardhit.png" width="34" height="34">
						Hard Hit
					</p>
					<p class="medium">
						Skill Hard Hit Level 1 </p>
				</div>
				<div style="justify-self:end;">
					<img src="images/icon/ths.png"><img src="images/icon/ohs.png"><br>2-Handed Sword/1-Handed Sword only
				</div>
			</div>
			<hr class="separator">
			<div class="monster-prop">
				<div>
					<p class="accent-bold">Type</p>
					<p>Active, Physical skill</p>
				</div>
				<div>
					<p class="accent-bold">Element</p>
					<p>Weapon Dependent</p>
				</div>
				<div>
					<p class="accent-bold">MP</p>
					<p>100</p>
				</div>
				<!-- $result_string .= sprintf("<td><b>Aggro</b></td>	<td>%s</td>", $row['aggro_text']); -->
				<div>
					<p class="accent-bold">Combo start</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Combo middle</p>
					<p>Yes</p>
				</div>
				<div>
					<p class="accent-bold">Range</p>
					<p>2</p>
				</div>
				<div class="span-2">
					<p class="accent-bold">Description</p>
					<p>Brutally hit the target with the weapon. Chance to inflict [Flinch] on the target.</p>
				</div>
				<div class="span-2">
					<div class="accent-bold"
						style="display:grid;grid-template-columns: 35px auto;grid-column-gap: 10px">
						<p><img src="images/icon/ohs.png"></p>
						<p>1-Handed Sword</p>
					</div>
					<p><b style="color: gold">[Get the same effect when used with Dual Swords]</b><br>
						Flinch Rate +50%</p>
				</div>
				<div class="span-2">
					<div class="accent-bold"
						style="display:grid;grid-template-columns: 35px auto;grid-column-gap: 10px">
						<p><img src="images/icon/ths.png"></p>
						<p>2-Handed Sword</p>
					</div>
					<p>Power +50</p>
				</div>
			</div>
			<p class="accent-bold">Extras</p>
			<p></p>
			<details>
				<summary>Show more...</summary><br><span class="sub-title"><b>Weapon:</b></span>
				<select id="hardHitWeapon" onchange="calcHardHitValue()">
					<option value="1H" selected="">1-Handed Sword</option>
					<option value="2H">2-Handed Sword</option>
				</select><br>
				<span class="sub-title"><b>Skill Level:</b></span>
				<select id="hardHitLevel" onchange="calcHardHitValue()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10" selected="">10</option>
				</select><br>
				<span class="sub-title"><b>"Hard Hit Enhancer" Registlet Level:</b></span>
				<select id="hardHitRegistlet" onchange="calcHardHitValue()">
					<option value="0" selected="">Unequipped</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select><br>
				<br>
				<span id="hardHitValue">
					<li><b>Skill Constant:</b> 100</li>
					<li><b>Skill Multiplier:</b> 1.5</li><br>
					<li><b>Flinch Chance:</b> 100%</li>
					<li><b>Flinch Duration:</b> 2 seconds</li>
					<li><b>Resistance Duration on Difficulties:</b> 3 second (<b>Easy</b> and <b>Normal</b>); 5 seconds
						(<b>Hard</b>); 8 seconds (<b>Nightmare</b>); 11 seconds (<b>Ultimate</b>)</li><br><b>Extra
						info:</b>
					<li><b>Ailment Resistance Duration</b> starts upon successfully inflicting the corresponding
						ailment; most ailments have the same resistance duration as their own duration, unless stated
						otherwise</li>
					<li>This skill's <b>maximum cast range</b> is equal to the maximum auto attack range of the <b>main
							weapon</b></li>
				</span>

			</details>
			<p></p>
		</div>
	</div>
</div>