<style>
    .container34 {
        background-color: rgba(255, 255, 255, 0.95);
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 15px auto;
    }
</style>
<div class="container34">


</div>
<div>
    <div>
        <div id="content" class="animated fadeInUp fast">
            <p class="content-title">Credit &amp; About Potum on Cloud</p>

            <p><b>Potum on Cloud</b> is founded by <i>Frozenproof</i> on Oct 26th, 2024.
            <p>
                Information on Potum on Cloud is gathered from various sources and personal experience.
                This page is dedicated to credit various people who has made the initial list and guides for
                each game update.</p>
            <hr class="separator"/>
            <p>
                The website has it's own dedicated github page, which by itself is a massive improvement to data availability.</p>
        </div>
    </div>
</div>
<div>
    <div>
        <div id="content" class="animated fadeInUp fast">
            <p class="content-title">Credit &amp; About Coryn</p>

            <p><b>Coryn Club</b> is founded by <i>Cruithne</i> on February 26th, 2016. It started out with a general
                name <i>"Toram Database"</i>.
                Later on, it is changed to <i>"Potum Club"</i> on March 25th, 2016. However as the name is often
                mistakenly as "Potum Guild" in game,
                it is further changed it into <i>"Coryn Club"</i> on September 12th, 2016, as well as changed the
                domain name into http://coryn.club.
                On January 15th, 2021 <b>Coryn Club</b> ownership was transfered and handled to a Toram player Under
                the name of <i>Nut2fast.</i><i>
                    <br>&nbsp;</i></p><i>
                <p>
                    Information on Coryn is gathered from various sources and personal experience.
                    This page is dedicated to credit various people who has made the initial list and guides for
                    each game update.</p>
                <hr class="separator"/>

                <p class="content-subtitle">The Team</p>
                <p>
                </p>
                <ul>
                    <li><b>Nut2fast</b> - Owner of Coryn Club</li>
                    <li><b>Artemis</b> - Coryn Admin</li>
                    <li><b>Lil Neko</b> - Front End Developer</li>
                    <li><b>Qidz</b> - Front End Developer</li>
                    <li><b>NeroX</b> - Front End Developer</li>
                    <li><b>ElenaLen45</b> - Front End Developer</li>
                    <li><b>Feame</b> - Front End Developer</li>
                    <li><b>Blueys50</b> - Front End Developer</li>
                    <li><b>Chryzant</b> - Front End Developer</li>
                    <li><b>Kleine</b> - Farmer/Front End Developer</li>
                    <li><b>Captain Morri Dracoro</b> - Front End Developer</li>
                    <li><b>MAOU</b> - Farmer</li>
                    <li><b>Need</b> - Farmer/Front End Developer</li>
                    <li><b>Cotton</b> - Farmer</li>
                    <li><b>Eriyus</b> - Back End Developer</li>
                    <li><b>FrostHydra97</b> - Front End Developer/Data Updater</li>
                </ul>
                <p></p>
                <hr class="separator"/>

                <p class="content-subtitle">Special Thanks!</p>
                <p>
                </p>
            </i>
            <ul><i>
                    <li><b><a style="color:DarkBlue!important;"
                                href="http://toramonline.com/index.php?members/bago2.2443/">Bago2</a></b>, for
                        making Coryn Club's logo. It's so cute, love it ^_^</li>
                    <li><b><a style="color:DarkBlue!important;"
                                href="https://www.instagram.com/rist_storypict/?igshid=v0w8cpchbk86">ASQ ART (Line
                                ID: rahmansq)</a></b>, for the beautiful home page art ♡</li>
                    <li>
                    </li>
                    <li><b>Sazanka</b>, for taking screen shot of hundreds of item apprearance and uploading them
                        ^_^</li>
                    <li><b>KuroBe01</b>, for writing up initial skill descriptions.</li>
                    <li><b>TheXIIIthGuy&amp; DarKnight98</b>, for fixing up skill descriptions.</li>
                    <li><b>Mayam, TheXIIIthGuy, Red_Fox, Ainred, BK</b>, and many others that gives valuable
                        informations about Toram system &amp; skill. </li>
                    <li><b>Phantom Library, Cy's Grimoire</b>, and their members for various valuable informations,
                        including items and skills. </li>
                </i>
                <ul><i>
                        <p></p>
                        <hr class="separator"/>

                        <p class="content-subtitle">General Database</p>
                        <p>
                        </p>
                    </i>
                    <ul><i>
                            <li><a href="http://potumpedia.com/">Potumpedia</a></li>
                            <li><a href="https://plus.google.com/+DSongToram/posts/XoVpu5iYB2y"> D.Song's [TORAM
                                    ONLINE'S DROP LIST]</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/material-list.30/"> Taibasa
                                    Tsuyuo's Material List</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/xtal-list.52/">June's Xtal
                                    List</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/equipment-guide.2163/">May&lt;3's
                                    Equipment Guide</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/boss-list-location-drops.1045/">Cryous's
                                    Boss List [Location + Drops]</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/side-quest-list.357/">Lucifere's
                                    Side Quest List</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/crafting-list-quest-hand-ins.2438/">Riptide's
                                    Crafting List + Quest Hand Ins</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/the-ultimate-recipe-guide.5790/">Tasty's
                                    The Ultimate Recipe Guide~~</a></li>
                            <li><a href="http://toramonline.com/index.php?threads/dye-locations.44/">June's Dye
                                    Locations</a></li>
                            <li><a href="http://toramuonline.blogspot.co.id/2015/09/sensyoku_8.html">[Japanese]
                                    トラムオンライン @ そうびがぞう - Dye Colours</a></li>
                            <li><a href="toramcafe.com"></a>[Japanese]Toram Cafe</li>
                            <li><a href="https://slv-memo.space/">[Japanese]さるびあのトーラムメモ</a></li>
                        </i>
                        <li><i><a href="https://toramonline.gamerch.com/">[Japanese] トーラムオンライン攻略まとめWiki</a></i>

                        </li>
                    </ul>
                    <p></p>
                    <hr class="separator"/>

                    <p class="content-subtitle">Game Guide</p>
                    <ul>
                        <li><a href="http://toramonline.com/index.php?threads/new-quests-86k-39k-27k-exp.8400/">Precaria's
                                New Quests: 86K, 39K, 27K EXP!!!</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/january-28-new-gear-recipes-drop-list.7245/">Precaria's
                                January 28 NEW GEAR RECIPES &amp; DROP LIST</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/25-2-2016-update-drops-and-mats-and-everything-good-for-you-d.8817/">Synonym's
                                25/2/2016 Update Drops and Mats and Everything Good for You :D</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/halloween-gift-items-and-equipments-updated-with-images.3068/">tekuuei's
                                HALLOWEEN gift items and equipments *updated with images</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/christmas-event-equipments-images-faq.5103/">tekuuei's
                                Christmas Event Equipments images &amp; FAQ</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/24-3-2016-update-recipes-and-stuffs-_-k-coat-mod.10290/">Synonym's
                                24/3/2016 Update Recipes and Stuffs =_= (K.Coat + MoD!)</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/lv95-update-recipes-drops-skills-golden-week-event.11692/">Precaria's
                                Lv95 Update: Recipes, Drops, Skills &amp; "Golden Week Event"</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/may-26-recipes-drops-boss-and-new-features.13123/">RPG_Neko's
                                May 26: Recipes, Drops, Boss and New Feature</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/4-million-download-new-quests-update.13654/">RPG_Neko's
                                4 Million Download + New Quests Update</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/june-30-update-recipes-drop-list-boss.14583/">Precaria's
                                June 30 Update: Recipes, Drop List &amp; Boss</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/toram-online-1st-anniversary-7-14-16.15103/">RPG_Neko's
                                Toram Online 1st Anniversary 7/14/16</a></li>
                        <li><a href="http://toramonline.com/index.php?threads/july-28-2016-2-maps-update.15620/">RPG_Neko's
                                July 28, 2016 Update! </a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/august-3rd-2016-lvl-cap-105-new-quests-new-lvl100-event-boss.15825/">RPG_Neko's
                                August 3rd, 2016 : lvl Cap 105 + New Quests + New lvl100 Event boss</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/august-23rd-update-maps-recipes-boss-drops-list.16462/">Janine's
                                August 23rd Update: Maps, Recipes, Boss &amp; Drops List</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/september-20th-update-maps-recipes-boss-drop-list.17280/">Janine's
                                September 20th Update: Maps, Recipes, Boss &amp; Drop List</a></li>
                        <li><a
                                href="http://toramonline.com/index.php?threads/october-20th-2016-update-maps-recipes-boss-drops-list.18177/">Janine's
                                October 20th,2016 Update:Maps, Recipes, Boss &amp; Drops List</a></li>
                    </ul>
                    <p></p>
                    <hr class="separator"/>

                    <p class="content-subtitle">Formula For Calculator</p>
                    <p>
                    </p>
                    <ul>
                        <li><a href="https://www.dopr.net/toramonline-wiki/status">[Japanese] Toram Online Wiki's
                                Status &amp; Ability page</a></li>
                        <li><a href="http://wikiwiki.jp/trm/?%A5%B9%A5%AD%A5%EB%A5%C4%A5%EA%A1%BC">[Japanese]
                                Wikiwiki's Toram Wiki</a></li>
                        <li><a href="http://www2.hp-ez.com/hp/mobilephoenix/page53">[Japanese] Mobile Phoenix's
                                Toram Online - Status</a></li>
                        <!--<li><a href=""></a></li>-->
                    </ul>
                    <p></p>
                    <hr class="separator"/>

                    <p class="content-subtitle">Special Credits for retired contributers</p>
                    <ul>
                        <li><b>Cruithne</b> - Retired Owner</li>
                        <li><b>Keenan Leman</b> - Front End Developer</li>
                        <li><b>Joshua Lawrich</b> - Front End Developer</li>
                        <li><b>☆琴歌Wintersnow☆</b> - Translator</li>
                        <li><b>w01</b> - Translator</li>
                        <li><b>uufish</b> - Translator</li>
                        <li><b>SaotomeKun97</b> - Translator</li>
                        <li><b>Prayoga Widya Andika</b> - Translator</li>
                        <li><b>Maxsona</b> - Translator</li>
                        <li><b>Lazht</b> - Translator</li>
                        <li><b>krstream</b> - Translator</li>
                        <li><b>Kamikamikamisama</b> - Translator</li>
                        <li><b>Irene13</b> - Translator</li>
                        <li><b>catchy</b> - Translator</li>
                    </ul>
                    <p></p>
                    <hr class="separator"/>

                </ul>
            </ul>
        </div>
    </div>
</div>
<div class="container34">
    Potum on Cloud - Toram Online Open Source Database is ©Frozenproof.
    <br />
    Coryn Club - Toram Online Database is ©Cruithne. Toram Online is ©Asobimo, Inc. All Rights Reserved.
    <div>
    </div>
</div>