<!DOCTYPE html>

<html>

<head>
    <title>Halberd Skills Tree</title>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
	<%- include('headers/metadata') %>

        <link rel="stylesheet" href="../../templates/functions-skills-list/skills.css">

</head>

<body>
    <%- include('headers/header') %>
    <%- include('headers/footer') %>

</body>

<script src="../../templates/functions-skills-list/magic.js"></script>