<!doctype html>
<html>
<head>
    <title>Download Files - Potum on Cloud</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/styles-downloads.css">

</head>
<body>
    <div>
        <h1>Available Excel Files for Download</h1>
        <h2>The Excel files are raw data</h2>
        <ul>
            <% downloadableFiles.forEach(file => { %>
                <li>
                    <a href="/download/<%= file.name %>" download><%= file.displayName %></a>
                </li>
            <% }); %>
        </ul>
    </div>
    
    <!-- Navigation links -->
    <nav>
        <a href="/">Home</a> |
        <a href="/files">Download Files</a> |
    </nav>
</body>
</html>
