<!DOCTYPE html>

<html>

<head>
    <title>Potum on Cloud</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="google-site-verification" content="939NygIf8312fvMoh3tfwAkIxVNX4b6Aq6CIs1w1VZk" />
    <style>
        /* styles.css */
        /* Global Styles */
        body {
            background-image: url('../images/appbackground.png');
            /* background-color: #ffe600b4; */
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            color: #333;
            font-family: Arial, sans-serif;
        }

        /* View Container */
        .view {
            width: 90%;
            margin: 15px auto;
            padding: 15px;
            background-color: rgba(255, 255, 255, 0.95);
            border-radius: 8px;
            display: none;
            /* Initially hidden */
        }

        /* Navigation Links */
        nav a {
            color: #0080ff;
            text-decoration: none;
            margin: 0 10px;
        }

        nav a:hover {
            text-decoration: underline;
        }
        div  {
            background-color: rgba(255, 255, 255, 0.95);
            padding: 15px;
            margin: 15px auto;
            border-radius: 8px;
            max-width: 80%;
        }
    </style>

</head>

<body>
    <%- include('headers/header') %>
    <div>
        <div>
            <a href="/skills/Blade.ejs">Blade</a>
        </div>
        <div>
            <a href="/skills/Magic.ejs">Magic</a>
        </div>
        <div>
            <a href="/skills/Halberd.ejs">Halberd</a>
        </div>
        <div>
            <a href="/skills/blade.ejs">Blade</a>
        </div>
        
    </div>
</body>

</html>