<!DOCTYPE html>

<html>

<head>
    <title>Potum on Cloud</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <%- include('headers/metadata') %>

        <link rel="stylesheet" href="../../templates/functions-skills-list/skills.css">

</head>

<body>
    <%- include('headers/header') %>
        <div class="skills-filler">
            <div class="skills-filler">
                <a href="/skills/Blade.ejs">Blade</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Shot.ejs">Shot</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/DualSwords.ejs">Dual Swords</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Martial.ejs">Martial</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Barehand.ejs">Barehand</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Magic.ejs">Magic</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Halberd.ejs">Halberd</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Monofuku.ejs">Monofuku</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Sprites.ejs">Sprites</a>
            </div>

        </div>
        <div class="skills-filler">
            <div class="skills-filler">
                <a href="/skills/Support.ejs">Support</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Guard.ejs">Guard</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Shield.ejs">Shield</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Dagger.ejs">Dagger</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Knight.ejs">Knight</a>
            </div>
            <div class="skills-filler">
                <a href="/skills/Support.ejs">Support</a>
            </div>


        </div>

</body>

</html>