<!doctype html>
<html>
<head>
    <title>Potum on cloud</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            text-align: center;  /* Center-align text in table headers and cells */
            border: 1px solid #dddddd; /* Add borders to table cells */
            padding: 8px; /* Add padding for better appearance */
        }
        h1, h2, h3, h4, h5, nav, button, a {
            text-align: center; /* Center-align headings */
        }
    </style>
</head>
<body>
    <button>
        <a href="https://github.com/frozenproof/potum-on-cloud"> Go to Potum on Cloud's Github Repo </a>
    </button>
    <h1>Potum on cloud</h1>
    <h2>The second most intensive database of toram</h2>
    <h3>Born from the pain of coryn dying</h3>
    <h4>Load will search for database in the drop down if pressed, and it will query for texts and drop down option.</h4>
    <h4>No it's not broken, it doesn't maintain the drop down item display that you chose when you pressed load.</h4>
    <nav>
        <a href="/">Home</a> |
        <a href="/files">Download Files</a> |
    </nav>
    
    <form method="post" action="/view" style="text-align: center;"> <!-- Center align the form -->
        <label>Select file:</label>
        <select name="file">
            <% for (let file in fileMapping) { %>
            <option value="<%= file %>"><%= fileMapping[file] %></option>
            <% } %>
        </select>
        <input type="text" name="search" placeholder="Search">
        <button type="submit">Load</button>
    </form>
    <% if (headers && headers.length > 0) { %>
    <table>
        <thead>
            <tr>
                <% headers.forEach(header => { %>
                    <th><%= header %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <%- table %> <!-- Insert the table rows directly here -->
        </tbody>
    </table>
    <% } %>
</body>
</html>
