<!DOCTYPE html>

<html>

<head>
    <title>Potum on Cloud</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <%- include('headers/metadata') %>

        <link rel="stylesheet" href="../../templates/functions-skills-list/skills.css">

</head>

<body>
    <%- include('headers/header') %>
        <div class="skills-filler">
            <div class="skills-filler">
                <a href="/freerouting/database/pootis/document1.ejs">Blade</a>
            </div>


        </div>
        <div class="skills-filler">


        </div>

</body>

</html>