<!DOCTYPE html>

<html>

<head>
    <title>Stats Simulator</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <%- include('../../templates/headers/metadata') %>

        <link rel="stylesheet" href="../../templates/functions-skills-list/skills.css">
        <script src="../../templates/functions-skills-list/stats.js"></script>
        <script src="../templates/axios.min.js"></script>
        <script>
            // wew have works to do
            function roundToTwoDecimals(value) {
                return Math.round(value * 100) / 100;
            }
        </script>

</head>

<body>
    <%- include('../../templates/headers/header') %>

</body>
