<!DOCTYPE html>

<html>

<head>
    <title>Công nghệ thông tin</title>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
    <%- include('../../templates/headers/metadata') %>

        <link rel="stylesheet" href="../../templates/functions-skills-list/skills.css">

        <script>
            // wew have works to do
            function roundToTwoDecimals(value) {
                return Math.round(value * 100) / 100;
            }
        </script>
        <style>
            body {
                /* background-image: url('../../images/appbackground.png'); */
                background-color: #ffe600b4 !important;
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                color: #333;
                font-family: Arial, sans-serif;
            }
        </style>
</head>

<body>
    <%- include('../../templates/headers/header') %>

        <div id="content">
            <div class="container">

                <div>

                    <h2>II. CÔNG NGHỆ THÔNG TIN</h2>

                    <h3>1. Các thành phần chính</h3>

                    <h4>a) Nền tảng điện toán đám mây</h4>
                    <p>
                        Nền tảng điện toán đám mây và triển khai thành các vùng chức năng, gồm:
                    </p>
                    <ul>
                        <li>
                            Vùng điện toán đám mây phục vụ nhu cầu của bộ ngành, địa phương, Trung tâm dữ liệu quốc gia
                            với
                            các phân hệ tích hợp, đồng bộ, khai thác dữ liệu, yêu cầu cao về bảo mật thông tin. Hạng mục
                            đầu tư
                            chính cho vùng này, gồm: Thiết bị mạng; An toàn thông tin; Máy chủ; Lưu trữ; Phần mềm thương
                            mại;
                            Phần mềm điện toán đám mây;... (bao gồm cả việc nâng cấp Trung tâm dữ liệu quốc gia về dân
                            cư để dự
                            phòng).
                        </li>
                    </ul>

                    <h4>b) Kho dữ liệu tổng hợp phục vụ quản lý</h4>
                    <p>
                        Xây dựng và triển khai kho dữ liệu tổng hợp phục vụ công tác quản lý nhà nước và đưa vào sử dụng
                        theo lộ trình, gồm: (i) hạ tầng kỹ thuật kho dữ liệu lớn; (ii) Nền tảng tích hợp, chia sẻ dữ
                        liệu
                        của Trung tâm dữ liệu quốc gia; (iii) Triển khai đồng bộ dữ liệu về con người và dữ liệu tổng
                        hợp từ
                        các cơ sở dữ liệu quốc gia, .. để tạo lập kho dữ liệu lớn tổng hợp thông tin phục vụ quản lý.
                        Cung
                        cấp nguồn dữ liệu quan trọng cho việc nghiên cứu, triển khai ứng dụng công nghệ AI.
                    </p>
                    <ul>
                        <li>Hạng mục đầu tư chính gồm: Phần mềm thương mại về cơ sở dữ liệu; Tài nguyên hệ thống; Phần
                            mềm nền
                            tảng tích hợp, chia sẻ dữ liệu; Triển khai tích hợp dữ liệu;...
                        </li>
                    </ul>

                    <h4>c) Hệ thống phân tích dữ liệu phục vụ công tác quản lý</h4>
                    <p>
                        Thiết lập hạ tầng tính toán hiệu suất cao và Hệ thống phân tích dữ liệu phục vụ công tác quản lý
                        với
                        các mô hình phân tích dự báo phục vụ công tác khai thác các kho dữ liệu tổng hợp từ cơ sở dữ
                        liệu
                        quốc gia. Cung cấp điều kiện kỹ thuật hỗ trợ các nhà khoa học nghiên cứu phát triển lĩnh vực
                        toán
                        ứng dụng.
                    </p>
                    <ul>
                        <li>Hạng mục đầu tư chính gồm: Hệ thống tính toán hiệu suất cao; Các Phần mềm thương mại; Các mô
                            hình
                            phân tích dự báo; Phần mềm nội bộ;...
                        </li>
                    </ul>

                    <h4>d) Hệ thống dịch vụ dữ liệu chuyên ngành và hệ thống quản lý khai thác dữ liệu chuyên ngành</h4>
                    <p>
                        Tạo lập các Kho dữ liệu cùng với Hệ thống quản lý khai thác dữ liệu chuyên ngành phục vụ việc
                        khai
                        thác của các đối tượng đối với dữ liệu dùng chung và dữ liệu mở,...
                    </p>
                    <ul>
                        <li>Hạng mục đầu tư chính gồm: Hệ quản trị cơ sở dữ liệu; Tài nguyên hệ thống; Các Phần mềm
                            thương mại;
                            hệ thống các Phần mềm quản lý khai thác dữ liệu;...
                        </li>
                    </ul>

                    <h3>2. Tiêu chuẩn, quy chuẩn kỹ thuật, yêu cầu cần đáp ứng</h3>
                    <ul>
                        <li>
                            Hệ thống công nghệ thông tin của Trung tâm dữ liệu quốc gia được thiết kế xây dựng đáp ứng
                            các yêu
                            cầu kỹ thuật, quy chuẩn về bảo đảm mức độ sẵn sàng của hệ thống, thiết kế hệ thống với mức
                            dự phòng
                            đặc biệt nhằm sẵn sàng trong trường hợp mở rộng khi cần thiết.
                        </li>
                        <li>
                            Môi trường vận hành chính thức hệ thống thông tin của Trung tâm dữ liệu quốc gia được thiết
                            kế,
                            xây dựng đáp ứng tách biệt với các môi trường phát triển, kiểm tra và thử nghiệm.
                        </li>
                        <li>
                            Thiết kế, triển khai Hệ thống công nghệ thông tin phải bảo đảm an ninh, bảo mật theo ở mức
                            cao
                            nhất, hiện đại nhất theo các tiêu chuẩn, quy chuẩn trong và ngoài nước nhằm kiểm soát, phát
                            hiện,
                            ngăn chặn tấn công mạng.
                        </li>
                    </ul>

                    <h3>3. Phương án phân vùng triển khai và tận dụng, tối ưu tài nguyên</h3>

                    <h4>a) Vùng dùng chung</h4>
                    <p>
                        - Chức năng: Được triển khai tại Trung tâm dữ liệu độc lập bảo đảm sẵn sàng chia sẻ cho bộ
                        ngành,
                        địa phương dùng chung.
                    </p>
                    <ul>
                        <li>Nền tảng điện toán đám mây dùng chung cho hệ thống của bộ, ngành, địa phương.</li>
                        <li>Hệ thống, thiết bị công nghệ mạng, bảo mật, bảo đảm an ninh an toàn.</li>
                        <li>Kho dữ liệu mở: là một phần kho dữ liệu tổng hợp, phân tích tại vùng chuyên dụng đồng bộ ra
                            vùng
                            dùng chung, phục vụ cho các bộ, ban, ngành, địa phương và người dân, doanh nghiệp khai thác,
                            sử
                            dụng.
                        </li>
                        <li>Kho dữ liệu dùng chung: là một phần kho dữ liệu tổng hợp, phân tích tại vùng chuyên dụng
                            đồng bộ
                            ra vùng dùng chung, phục vụ cho các cơ quan nhà nước khai thác dùng chung.
                        </li>
                        <li>Nền tảng tích hợp, chia sẻ dữ liệu của Trung tâm dữ liệu quốc gia.</li>
                        <li>Các hệ thống khác phục vụ bảo đảm hoạt động của toàn bộ hệ thống tại vùng dùng chung (hệ
                            thống
                            phần mềm, giám sát tập trung,...).
                        </li>
                    </ul>

                    <h4>b) Vùng chuyên dụng</h4>
                    <p>
                        - Chức năng: Được triển khai tại vùng nội ngành chuyên dùng, được bảo vệ nghiêm ngặt bảo đảm
                        triển
                        khai các dữ liệu bí mật nhà nước chuyên ngành và các dữ liệu được phân tích để đồng bộ ra vùng
                        dùng
                        chung phục vụ khai thác.
                    </p>
                    <ul>
                        <li>Nền tảng điện toán đám mây dùng riêng cho Trung tâm dữ liệu quốc gia phục vụ việc hình thành
                            kho
                            dữ liệu tổng hợp và tổng hợp, phân tích dữ liệu.
                        </li>
                        <li>Hệ thống, thiết bị công nghệ mạng, bảo mật, bảo đảm an ninh an toàn.</li>
                        <li>Kho dữ liệu tổng hợp.</li>
                        <li>Hệ thống phân tích dữ liệu.</li>
                        <li>Các hệ thống khác phục vụ bảo đảm hoạt động của toàn bộ hệ thống tại vùng dùng chung (hệ
                            thống
                            phần mềm, giám sát tập trung,...).
                        </li>
                    </ul>

                    <h4>c) Trung tâm dữ liệu quốc gia thực hiện:</h4>
                    <ul>
                        <li>Đầu tư toàn bộ hạ tầng công nghệ thông tin của vùng chuyên dụng cho Trung tâm dữ liệu quốc
                            gia.</li>
                        <li>
                            Đầu tư, triển khai các giải pháp hạ tầng công nghệ thông tin, bảo đảm an ninh an toàn, hệ
                            thống nền
                            tảng điện toán đám mây, hệ thống tính toán hiệu năng cao... của vùng dùng chung (Các cơ
                            quan,
                            đơn vị có thể đầu tư các thiết bị, giải pháp theo tiêu chuẩn kỹ thuật của Trung tâm dữ liệu
                            quốc gia
                            để tích hợp vào nền tảng điện toán đám mây dùng chung để triển khai hệ thống của mình theo
                            nhu cầu).
                        </li>
                    </ul>

                    <h4>d) Đối với các cơ quan, đơn vị thuộc đối tượng đã nêu trong Nghị quyết</h4>
                    <ul>
                        <li>
                            Các cơ quan, đơn vị đã đầu tư hệ thống: tiếp tục quản trị vận hành, nâng cấp hệ thống theo
                            nhu
                            cầu, tuy nhiên bảo đảm phù hợp với thời gian khấu hao và lộ trình triển khai đã nêu tại Nghị
                            quyết.
                            Trong quá trình chuyển hệ thống, thiết bị, giải pháp về Trung tâm dữ liệu quốc gia hoặc tích
                            hợp vào
                            Nền tảng điện toán đám mây tại Trung tâm dữ liệu quốc gia cần phối hợp Trung tâm dữ liệu
                            quốc gia và
                            các cơ quan liên quan đánh giá việc đầu tư bảo đảm phù hợp với lộ trình triển khai Đề án
                            Trung tâm
                            dữ liệu quốc gia và thời gian hết khấu hao của các thiết bị, giải pháp, bảo đảm có thể kế
                            thừa, tận
                            dụng tối đa.
                        </li>
                        <li>
                            Các cơ quan, đơn vị chưa đầu tư hệ thống hoặc đang đi thuê hạ tầng của doanh nghiệp: căn cứ
                            theo
                            hướng dẫn, tiêu chuẩn kỹ thuật của Bộ Công an (Trung tâm dữ liệu quốc gia), các cơ quan, đơn
                            vị đầu
                            tư thiết bị, giải pháp và tích hợp vào Nền tảng điện toán đám mây tại Trung tâm dữ liệu quốc
                            gia để
                            xây dựng, phát triển hệ thống của đơn vị mình hoặc thuê dịch vụ của Đơn vị sự nghiệp công
                            lập thuộc
                            Trung tâm dữ liệu quốc gia.
                        </li>
                    </ul>

                    <h4>đ) Đối với các cơ quan, đơn vị không thuộc đối tượng đã nêu trong Nghị quyết</h4>
                    <p>
                        Tiếp tục thực hiện các thủ tục đầu tư, mua sắm thiết bị, giải pháp công nghệ hoặc thuê hạ tầng
                        công
                        nghệ thông tin của doanh nghiệp theo các quy định hiện hành.
                    </p>

                    <h2>PHỤ LỤC III</h2>
                    <h3>VỊ TRÍ PHÁP LÝ, CHỨC NĂNG NHIỆM VỤ CỦA TRUNG TÂM DỮ LIỆU QUỐC GIA</h3>
                    <p>(Kèm theo Nghị quyết số 175/NQ-CP ngày 30 tháng 10 năm 2023 của Chính phủ)</p>

                    <h3>I. VỊ TRÍ PHÁP LÝ</h3>
                    <p>
                        Trung tâm dữ liệu quốc gia là một đơn vị hành chính độc lập, tương đương cấp Cục thuộc Bộ Công
                        an,
                        do Bộ trưởng Bộ Công an trực tiếp quản lý, chỉ đạo. Bộ trưởng Bộ Công an quy định cụ thể chức
                        năng,
                        nhiệm vụ, quyền hạn, tổ chức bộ máy Trung tâm dữ liệu quốc gia.
                    </p>

                    <h3>II. CHỨC NĂNG</h3>
                    <ul>
                        <li>
                            Trung tâm dữ liệu quốc gia là cơ quan quản lý dữ liệu của quốc gia do Bộ trưởng Bộ Công an
                            trực
                            tiếp quản lý, bảo đảm việc lưu trữ, quản lý, chia sẻ, khai thác dữ liệu của Đảng và Nhà
                            nước, đồng
                            thời quản lý chuyên ngành về dữ liệu, có trách nhiệm giúp Bộ trưởng Bộ Công an thực hiện
                            nhiệm vụ
                            quản lý nhà nước về dữ liệu.
                        </li>
                        <li>
                            Giúp Bộ trưởng Bộ Công an tham mưu với Đảng, Nhà nước về chủ trương, chính sách, pháp luật
                            và tổ
                            chức thực hiện chức năng quản lý nhà nước dữ liệu về con người và quy trình đồng bộ, quản
                            lý, chia
                            sẻ, khai thác dữ liệu giữa các cơ quan, tổ chức, người dân, doanh nghiệp và Trung tâm dữ
                            liệu quốc
                            gia.
                        </li>
                        <li>
                            Tổ chức vận hành, quản trị, lưu trữ, chia sẻ, nghiên cứu, ứng dụng, khai thác, phát triển dữ
                            liệu; cung cấp hạ tầng công nghệ thông tin, giải pháp kỹ thuật cho các cơ quan, đơn vị khi
                            có nhu
                            cầu; bảo đảm an ninh, an toàn hệ thống, cơ sở dữ liệu của Trung tâm dữ liệu quốc gia.
                        </li>
                        <li>
                            Lưu trữ, quản lý, khai thác, phát triển; điều phối dữ liệu với các bộ, ngành; phân tích phục
                            vụ
                            điều hành, xây dựng chính sách; nghiên cứu phát triển dữ liệu; cung cấp kho dữ liệu dùng
                            chung để
                            thực hiện các công tác quản lý nhà nước.
                        </li>
                    </ul>

                    <h3>III. NHIỆM VỤ</h3>
                    <ul>
                        <li>Quản trị dữ liệu, gồm: Chính sách; Quy hoạch; Chia sẻ, điều phối; Phân tích, ứng dụng dữ
                            liệu.</li>
                        <li>Quản trị, vận hành, gồm: Phần mềm; Cơ sở dữ liệu; Mạng; Máy chủ; Cung cấp tài nguyên hệ
                            thống.</li>
                        <li>An ninh, an toàn, bảo mật, gồm: Chính sách; Kiểm tra; Giám sát hệ thống (SOC); Nghiên cứu,
                            phát
                            triển giải pháp.
                        </li>
                        <li>Quản trị hạ tầng, gồm: Điện, điều hòa, môi trường; Phòng cháy chữa cháy; An ninh vật lý;
                            Đường
                            truyền; Cung cấp hạ tầng nhà trạm.
                        </li>
                        <li>Nghiên cứu và hợp tác quốc tế, gồm: Nghiên cứu, hoạch định chính sách phát triển dữ liệu về
                            con
                            người; Nghiên cứu ứng dụng giải pháp kỹ thuật mới. Sản xuất hàng hóa, dịch vụ.
                        </li>
                    </ul>
                </div>

            </div>
        </div>

</body>